/* GLOBAL */

html {
  scroll-behavior: smooth
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  color: #031d2e;
}
p {
  font-size: 1rem;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; */
}
h1 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
/* horizontal dividers */
hr { 
    /* display: block; */
    height: 1px;
    border: 0 none;
    background-color: rgb(222, 222, 222);
    overflow: hidden;
    margin-bottom : 0em;
}

/* TOP OF PAGE SPACE HOLDER */

#topOfPage {
  height: 100px;
}

/* MAIN HEADER */
.mainHeader {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.mainHeader a {
  color: rgb(3, 29, 46);
  text-align: center;
  padding-right: 10px;
  text-decoration: none;
  font-size: 1.4rem;
}
#topNav {
  display: flex; 
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: 30px;
  margin-left: 0px; 
  margin-right: 0px;
}
.icon:hover, .icon:active {
  transform: scale(1.1) rotate(5deg);
}

/* FILTER SECTION */
.filterSection {
  margin: 0px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
}
.filterSection span {
  margin-left: 5px;
  font-size: 0.8rem;
}
.filter-btn {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  font-size: 0.8rem;
  color: rgb(3, 29, 46);
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-color: rgb(3, 29, 46);
  text-align: center;
  border-radius: 40px;
  transition: 0.3s;
}
.filter-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 124, 94);
}
#filterSection{
  position: fixed;
  top: 58px;
  width: 100%;
  display: block;
  transition: top 0.5s;
}


/* MAIN SECTIONS */

section {
  padding: 30px;
}
#main {
  transition: margin-top .3s;
  padding: 0px;
  padding-bottom: 50px;
  margin-top: 0px;
}


/* PORTFOLIO GRID ITEMS */
.menuItem {
  float: left;
  width: 25%;
  padding: 10px;
}
.itemContainer {
  padding: 0px;
  border: 0px;
  background-color: rgb(245, 245, 245);
}
.menuImage {
  width: 100%;
  margin-bottom: 0px;
}
.menuItemTitle {
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  color: #031d2e;
}

.menuAddInfo {
  display: none;
  padding: 25px;
}

.menuAddInfo p {
  color:black;
  margin-bottom: 10px;
}

.moreInfoBtn {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  border-width: 1px;
  text-align: center;
  transition: 0.3s;
}

.moreInfoBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 124, 94);
}


/* row and column decoration */
.row {
  margin: 0px 0px;
  padding: 8px;
}
.row > .menu-item {
  padding: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* window size 850 width set */
@media screen and (max-width: 850px) {
  .menuItem {
      width: 50%;
  }
}
/* window size 400 width set */
@media screen and (max-width: 500px) {
  .menuItem {
      width: 100%;
  }
}


/* FOOTER */
.footer {
  display: grid;
  width: 100vw;
  min-height: 90vh;
  padding: 0px;
  padding-top: 20px;
  background-color: #031d2e;
  transition: 0.3s;
}


.footer a, p, h1, h2, h3, h4, h5, h6, form {
  color: white;
}

/* socials container */
#socialsContainer {
  padding-top: 10px;
}
#socialsContainer a {
  text-decoration: none;
}

#bottomSection {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #02131f;
}


/* LIGHTBOXES */




/* MEDIA QUERIES */