/* GLOBAL */

html {
  scroll-behavior: smooth
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #031d2e;
}
p {
  font-size: 1rem;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; */
}
h1 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
/* horizontal dividers */
hr { 
    /* display: block; */
    height: 1px;
    border: 0 none;
    background-color: rgb(222, 222, 222);
    overflow: hidden;
    margin-bottom : 0em;
}

/* TOP OF PAGE SPACE HOLDER */

#topOfPage {
  height: 100px;
}

/* MAIN HEADER */
.mainHeader {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.mainHeader a {
  color: rgb(3, 29, 46);
  text-align: center;
  padding-right: 10px;
  text-decoration: none;
  font-size: 1.4rem;
}
#topNav {
  display: flex; 
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: 35px;
  margin-left: 0px; 
  margin-right: 0px;
}
.icon:hover, .icon:active {
  transform: scale(1.1) rotate(5deg);
}

/* FILTER SECTION */
.filterSection {
  margin: 0px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
}
.filterSection span {
  margin-left: 5px;
  font-size: 0.8rem;
}
.filter-btn {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  font-size: 0.8rem;
  color: rgb(3, 29, 46);
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-color: rgb(3, 29, 46);
  text-align: center;
  border-radius: 40px;
  transition: 0.3s;
}
.filter-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 124, 94);
}
#filterSection{
  position: fixed;
  top: 58px;
  width: 100%;
  display: block;
  transition: top 0.5s;
}


/* MAIN SECTIONS */

section {
  padding: 30px;
}
#main {
  transition: margin-top .3s;
  padding: 0px;
  padding-bottom: 50px;
  margin-top: 0px;
}


/* PORTFOLIO GRID ITEMS */
.menuItem {
  float: left;
  width: 25%;
  padding: 10px;
}
.itemContainer {
  padding: 0px;
  border: 0px;
  background-color: rgb(245, 245, 245);
}
.menuImage {
  width: 100%;
  margin-bottom: 0px;
}
.menuItemTitle {
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  color: #031d2e;
}

.menuAddInfo {
  display: none;
  padding: 25px;
}

.menuAddInfo p {
  color:black;
  margin-bottom: 10px;
}

.moreInfoBtn {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  font-size: 1rem;
  color: rgb(3, 29, 46);
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-color: rgb(3, 29, 46);
  text-align: center;
  border-radius: 40px;
  transition: 0.3s;
}

.moreInfoBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 124, 94);
}


/* row and column decoration */
.row {
  margin: 0px 0px;
  padding: 8px;
}
.row > .menu-item {
  padding: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* window size 850 width set */
@media screen and (max-width: 850px) {
  .menuItem {
      width: 50%;
  }
}
/* window size 400 width set */
@media screen and (max-width: 500px) {
  .menuItem {
      width: 100%;
  }
}


/* FOOTER */
.footer {
  display: grid;
  width: 100vw;
  padding: 0px;
  padding-top: 0px;
  background-color: rgb(245, 245, 245);
  transition: 0.3s;
}


.footer a, p, h1, h2, h3, h4, h5, h6, form {
  color: #031d2e;
}

/* socials container */

#socialSection {
  display: flex;
}

#socialsContainer {
  padding-top: 10px;
}
#socialsContainer a {
  text-decoration: none;
  padding-right: 20px;
}

#bottomSection {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #02131f;
}

#bottomSection p {
  color: #ffffff;
  font-size: 0.8rem;
}

/* ABOUT SECTION */

#aboutHeaderSection {
  background-color: #f5f5f5;
  padding:30px;
  padding-bottom:15px;
}

#aboutHeader {
  padding:0px;
  color: #031d2e;
}

#aboutSection {
  margin: 0px;
  padding: 0px;
}


/* ABOUT - Accordions */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #ebebeb;
  color: #031d2e;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(10, 124, 94);
  color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  color: #031d2e;
  display: none;
  overflow: hidden;
}

.panel p {
    color: #031d2e;
}


/* MEDIA QUERIES */


/* MENU - ARTICLE POP UP */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #031d2eda;
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 15px ;
  margin-top: 80px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
}

.popup h2 {
  margin-top: 0px;
  margin: 30px;
  margin-bottom: 20px;
  color: #031d2e;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 0.3s;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #031d2e;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 85%;
  overflow: scroll;
}

/* 
@media screen and (max-width: 700px){
  .box{
    width: 90%;
  }
  .popup{
    width: 90%;
  }
} */